click==6.6
cvxopt==1.1.8
docutils==0.12
Flask==0.11.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.11.1
pandas==0.18.1
portfolioopt==1.0.0
py==1.4.31
pytest==2.9.2
python-dateutil==2.5.3
pytz==2016.6.1
requests==2.11.0
scipy==0.18.0
six==1.10.0
statistics==1.0.3.5
Werkzeug==0.11.10
